html,
body {
	position: relative;
	font-family: sans-serif;
	height: 100%;
	box-sizing: border-box;
}
div {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
}
.header {
	background-color: #113450;
	height: 112px;
	width: 100%;
	position: relative;
	display: inline;
	text-size-adjust: 100%;
	float: left;
}
#header_image {
	float: left;
	height: 100px;
	padding-top: 5px;
	width: 35%;
}
#logo {
	height: 100px;
}
ul {
	list-style-type: none;
	float: left;
	padding-top: 10px;
	width: 100%;
}
li {
	display: inline;
}
.nav_menu {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
	padding-right: 28px;
}
.nav_text {
	color: white;
	font-size: 18px;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: 14px;
	padding-left: 19px;
	position: relative;
	height: 28px;
	width: 76.5469px;
}
.custom-glyph {
	color: white;
	font-size: 18px;
	padding-left: 19px;
}
.pathways {
	float: left;
	width: 100%;
}
#pathways {
	width: 560px;
	height: 220.219px;
	padding-bottom: 20px;
}
.main {
	float: left;
	height: auto;
	width: 57%;
	padding-bottom: 75px;
	margin: auto;
}
.side {
	float: right;
	height: 250px;
	width: 33%;
	margin: 220px auto;
}
.footer {
	clear: both;
	height: 287px;
	width: 100%;
	background-color: #f3f3f3;
	position: relative;
	padding: 45px 2%;
	text-size-adjust: 100%;
	display: table;
	line-height: 24px;
}
.left{
	width: 20%;
	float: left;
	padding: 0 2% 0 0;
}
.middle{
	width: 62%;
	padding: 0% 2%;
	float: left;
}
.right{
	width: 18%;
	float: left;
	padding: 0 0 0 2%;
}
.foothead {
	color: #616161;
	font-size: 14px;
	font-weight: bold;
	border-bottom-color: rgb(187, 196, 203);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#contact {
	color: #797979;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#quicklinks {
	columns: 3;
	text-align: left;
	margin: 0;
	padding: 0;
	color: #797979;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
.colsp {
	padding-right: 10px;
	color: rgb(177, 164, 148);
}
.content {
	padding-bottom: 10px;
}
.mainimage {
	width: 100%;
}
#subtitle {
	margin-bottom: 20px;
	margin-top: 16px;
	font-size: 16px;
	color: #BFBFBF;
	width: 85.07%;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
}
#articlehead {
	font-size: 48px;
	line-height: 50px;
	font-style: normal;
	font-weight: 700;
	width: 85.07%;
	margin-top: 28px;
	margin-bottom: 20px;
	color: black;
}
#border {
	border-top: solid;
	border-top-color: #DEDEDE;
	border-top-style: solid;
	border-top-width: 1px;
	width: 83.76%;
	margin: 22px 0px;
}
#more {
	width: 83.76%;
	margin-top: 16px;
	font-size: 16px;
	color: #BFBFBF;
	width: 85.07%;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
	display: inline;
}
#articlecontent {
	display: inline;
	font-size: 16px;
	width: 100%;
	color: #595959;
	line-height: 28px;
	margin-bottom: 14px;
	font-style: normal;
	font-weight: 400;
}
#padding {margin-top: 70px;}
#morebutton {
	font-size: 16px;
}
#error {
	width: 100%;
}
#righthead {
	padding-top: 30px;
	padding-bottom: 10px;
	color: #9E9E9E;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
}
.sidehead {
	color: black;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 60px;
}
.container {
	margin-top: 0;
	margin: auto;
	position: relative;
}
.icon{
	display: none;
}
#mobilelogo1 {
	display: none;
}
#mobilelogo2 {
	display: none;
}
@media screen and ( max-width: 1300px ){
	.container {
		width: 100%;
		padding: 20px 2%;
	}
	.left{
		width: 33%;
	}
	.middle{
		width: 33%;
	}
	.right{	
		width: 33%;
	}
	.icon {
		display: block;
		color: white;
		font-size: 18px;
	}
	.text {
		display: none;
	}
}
@media screen and ( max-width: 1000px ){
	#quicklinks {
		columns: 2;
	}
}
@media screen and ( max-width: 780px ){
	#quicklinks {
		columns: 1;
	}
}
@media screen and ( max-width: 700px ){
	.container {
		display: table;
		padding-top: 200px;
	}
	.side {
		display: table-header-group;
		width: 100%;
		float: none;
		padding-top: 200px;
	}
	.main {
		display: table-footer-group;
		margin-top: 20px;
		width: 100%;
		float: none;
	}
}
@media screen and ( max-width: 600px ) {
	.left,
	.middle,
	.right {
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
@media screen and ( max-width: 550px ) {
	.container {
		padding-top: 20px;
	}
	#pathways {
		display: none;
	}	
	#logo {
		display: none;
	}
	#header_image {
		width: 75%;
		height: 90px;
		padding-right 0;
		margin-right 0;
		float: left;
	}
	.nav_menu {
		width: 20%;
		padding: 0;
		margin: 0;
		float: left;
		margin-top: 25px;
	}
	.icon {
		display: inline;
	}
	#mobilelogo1 {
		display: inline;
		float: left;
		height: 100%;
		width: 35%;
		padding-top: 10px;
	}
	#mobilelogo2 {
		display: inline;
		float: left;
		height: 100%;
		width: 50%;
		padding-top: 10px;
	}
	.container { 
		display: table;
	}
	.footer{
		height: auto;
	}
}
